{
    "word": "Control",
    "definitions": [
        "A duplicate book, register, or account, kept to correct or check another account or register; a counter register.",
        "That which serves to check, restrain, or hinder; restraint.",
        "Power or authority to check or restrain; restraining or regulating influence; superintendence; government; as, children should be under parental control.",
        "The complete apparatus used to control a mechanism or machine in operation, as a flying machine in flight;",
        "Any of the physical factors determining the climate of any particular place, as latitude,distribution of land and water, altitude, exposure, prevailing winds, permanent high- or low-barometric-pressure areas, ocean currents, mountain barriers, soil, and vegetation.",
        "in research, an object or subject used in an experimental procedure, which is treated identically to the primary subject of the experiment, except for the omission of the specific treatment or conditions whose effect is being investigated. If the control is a group of living organisms, as is common in medical research, it is called the control group.",
        "the part of an experimental procedure in which the controls{6} are subjected to the experimental conditions.",
        "the group of technical specialists exercising control by remote communications over a distant operation, such as a space flight; as, the American Mission Control for manned flights is located in Houston.",
        "To check by a counter register or duplicate account; to prove by counter statements; to confute.",
        "To exercise restraining or governing influence over; to check; to counteract; to restrain; to regulate; to govern; to overpower.",
        "to assure the validity of an experimental procedure by using a control{7}."
    ],
    "examples": [
        "The House of Commons should exercise a control over all the departments of the executive administration.",
        "This report was controlled to be false.",
        "Give me a staff of honor for mine age, But not a scepter to control the world.",
        "I feel my virtue struggling in my soul: But stronger passion does its power control."
    ],
    "etymology": "[F. contr a counter register, contr. fr. contr-r; contre (L. contra) + r roll, catalogue. See Counter and Roll, and cf. Counterroll.]"
}